/*Profile*/
.container-pp {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: var(--sec-colortr);
	border-radius: 8px;
}

.container-pp .rounded-avatar {
	width: 120px;
	height: 120px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	background-color: #d2d2d2;
}
.container-pp .rounded-avatar, .container-pp .rounded-pp {
	width: 185px;
	height: 185px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	background-color: #d2d2d2;
	left: 50%;
	transform: translate(-50%, 0);
}
.container-pp .rounded-avatar img{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container-pp .rounded-pp img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.container-pp .name-tag {
	font-size: 60px;
	font-weight: bold;
	position: relative;
	top:  50%;
	transform: translate(0px, -50%);
}
.card-comment{
	border: none;
	display: none;
}
.card-comment:nth-child(-n+4){
	display:block;
}