body, html {
	height: 100%;
}
.pull-right {
	float: right !important;
	margin-left: 5px;
}

.login-body {
	background-image: url("../../image/asset/login-background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.background-glass {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.8;
	position: absolute;
}

.login-container {
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 20px;
	transform: translate(-50%, -50%);
	background: #ffffff21;
	border-radius: 30px;
}

.fp-container {
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 30px;
	transform: translate(-50%, -50%);
}

.fp-container:after {
	content: '';
	background: #fff;
	width: 400px;
	height: 300px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	border-radius: 30px;
	margin: 0px;
	padding: 30px;
}

.cp-container {
	width: 400px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 30px;
	transform: translate(-50%, -50%);
}

.cp-container:after {
	content: '';
	background: #fff;
	width: 400px;
	height: 350px;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.2;
	border-radius: 30px;
	margin: 0px;
	padding: 30px;
}

.img-container {
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;
	border-radius: 30px;
	z-index: 1;
	font-size: 78px;
	font-weight: bold;
	color: #fff;
}

.img-container img {
	width: auto;
	height: 120px;
	position: relative;
	left: 0px;
	border-radius: 30px;
}

.title-container {
	font-size: 30px;
	font-weight: bold;
	color: #f7b001;
}

.msg-container {
	font-size: 20px;
	color: #fff;
}

.form-container {
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	position: relative;
	z-index: 1;
}

.form-group {
	width: 100%;
	position: relative;
	z-index: 2;
	margin-bottom: 15px;
}

.form-group .fg-img {
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 3;
	padding: 5px;
	margin: 2px;
	background-color: #f7b001;
	border-radius: 30px;
}

.form-group .fg-img img {
	width: 20px;
	height: 20px;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-group input {
	width: 100%;
	position: relative;
	z-index: 2;
	border-radius: 30px;
	-webkit-appearance: none;
	border: none;
	padding: 15px 15px 15px 50px;
	font-size: 20px;
	color: #3e3e3e;
}

.form-group input:focus { 
	outline: none !important;
	border-color: #969696;
	box-shadow: 0 0 10px #969696;
	padding: 27px 15px 13px 50px;
}
.form-group input:not(:placeholder-shown)
{
	padding: 27px 15px 13px 50px;
}

.form-group label {
	position: absolute;
	top: 0px;
	left: 50px;
	z-index: 99;
	font-size: 12px;
	font-weight: bold;
	color: #f7b001;
}

.form-group label, .form-group input {
	transition: all 0.2s;
	touch-action: manipulation;
}
.form-group input:placeholder-shown + label {
	position: absolute;
	top: 7px;
	left: 50px;
	z-index: 1;
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}
.form-group input:focus::-webkit-input-placeholder {
	opacity: 1;
}
.form-group input:not(:placeholder-shown) + label
{
	position: absolute;
	top: 0px;
	left: 50px;
	z-index: 99;
	font-size: 12px;
	font-weight: bold;
	color: #f7b001;
}
.form-group input:focus + label{
	position: absolute;
	top: 0px;
	left: 50px;
	z-index: 99;
	font-size: 12px;
	font-weight: bold;
	color: #f7b001;
}


.fpass-container {
	width: 100%;
	text-align: left;
	color: #fff;
}

.btn-login { 
	border: none;
	border-radius: 30px;
	background-color: #f7b001;
	color: #fff;

}
.btn-rounded{
	border-radius: 30px;
}

.btn-login:hover { 
	box-shadow: 0 0 6px #e4a404;
}