:root {
  --main-color: #fcaf01;
  --main-colorgr: #fbbc2f;
  --main-colorhv: #437903;
  --main-colorscroll: #fcaf01ad;
  --sec-color: #048894;
  --sec-colortr: #048894b8;
  --bg-success: #28a745;
  --bg-warning: #d39e00;
  --bg-danger: #dc3545;
  --bg-info: #17a2b8 !important;
}

body,
html {
  height: 100%;
  color: #3e3e4a !important;
  background: #f7f7f7 !important;
  -webkit-animation-name: animatefade;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
a.col-container {
  text-decoration: none;
  color: #3e3e4a !important;
}
a.btn {
  color: #fff !important;
}
a:hover {
  text-decoration: none;
}
@-webkit-keyframes animatefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animatefade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 15px;
  height: -6px;
}
::-webkit-scrollbar-track {
  background: #fff0;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  background-color: var(--main-colorscroll);
  border: 5px solid #fff0;
  background-clip: padding-box;
  -webkit-border-radius: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.bg-success {
  background-color: var(--bg-success);
  color: #fff;
}
.bg-warning {
  background-color: var(--bg-warning);
  color: #fff;
}
.bg-danger {
  background-color: var(--bg-danger);
  color: #fff;
}
.bg-info {
  background-color: var(--bg-info);
  color: #fff;
}
.rounded {
  border-radius: 30px !important;
}
.text-dark {
  color: #3e3e4a !important;
}
.clr-1 {
  background: var(--main-color) !important;
  color: #fff !important;
}
.clr-2 {
  background: var(--sec-color) !important;
  color: #fff !important;
}
.clr-trans {
  background: #e4e4e4 !important;
}
.pull-right {
  float: right !important;
  margin-left: 5px;
}
.date-info {
  font-size: 20px;

  position: absolute;

  top: 10px;

  right: 10px;
}
.col-container {
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 0px !important;
  display: flex;
}
.col-container-in {
  width: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  display: flex;
}
.col-10,
.col-20,
.col-30,
.col-40,
.col-50,
.col-60,
.col-70,
.col-80,
.col-90,
.col-100 {
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  padding: 0px;
}
.col-10 {
  flex: 10%;
}
.col-20 {
  flex: 20%;
}
.col-30 {
  flex: 30%;
}
.col-40 {
  flex: 40%;
}
.col-50 {
  flex: 50%;
}
.col-60 {
  flex: 60%;
}
.col-70 {
  flex: 70%;
}
.col-80 {
  flex: 80%;
}
.col-90 {
  flex: 90%;
}
.col-100 {
  flex: 100%;
}

.col-style1 {
  box-shadow: 0px 0px 10px #808080;
  border-radius: 10px;
}
.pad-1 {
  padding: 10px !important;
}
.pad-2 {
  padding: 30px !important;
}

/*header*/
.header-container {
  width: 100%;
  height: 60px;
  position: fixed;
  background: #fff;
  top: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 1;
  box-shadow: 0px 0px 10px #808080;
  font-size: 18px;
  padding: 10px;
}
a.close-content {
  margin-right: 10px;
  padding: 7px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: inline-block;
  position: relative;
}
.header-container div,
.header-container a {
  padding: 7px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: inline-block;
  position: relative;
}
.header-container div .account-img {
  width: 35px;
  height: 35px;
  position: absolute;
  z-index: 1;
  top: 2.5px;
  left: 2.5px;
  padding: 0 !important;
  overflow: hidden;
}
.header-container div .account-img img {
  width: 38px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header-container div .account-init {
  width: 35px;
  margin-bottom: 0px !important;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
.header-container div .account-name {
  margin-bottom: 0px !important;
  margin-left: 25px;
}
.header-container div .account-name {
  margin-bottom: 0px !important;
  margin-left: 25px;
}

/*content*/
.content-container {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px #808080;
  padding-top: 70px;
  padding-bottom: 35px;
  padding-right: 10px;
  display: flex;
}
.content-container:after {
  content: "";
  display: table;
  clear: both;
}
.content-container .col {
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 10px #808080;
  position: relative;
  border-radius: 10px;
  margin: 0px;
  margin-left: 10px;
  float: left;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}
.content-container .col-content {
  flex: 70%;
  padding-right: 0px;
}
.content-container .col-menu {
  flex: 30%;
}
.col-menu .menu-logo {
  width: 100%;
  height: 150px;
  text-align: center;
}
.col-menu .menu-logo img {
  width: auto;
  height: 100%;
}
.col-menu .menu-button {
}
.col-menu .menu-item {
  width: 100%;
  height: 75px;
  display: flex;
  margin-top: 10px;
  padding: 5px !important;
  box-shadow: 0px 0px 10px #808080;
  border-radius: 10px;
  transition: 0.3s;
  overflow: hidden;
  text-decoration: none;
  color: #3e3e3e;
}
.col-menu .menu-item:hover,
.col-menu .active {
  background: var(--sec-color);
  color: #fff !important;
}
.col-menu .menu-item:hover,
.col-menu .active {
  background: var(--sec-color);
  color: #fff !important;
}
.col-menu .menu-item:hover .menu-icon img,
.col-menu .active .menu-icon img {
  filter: invert(30%) sepia(98%) saturate(920%) hue-rotate(151deg)
    brightness(104%) contrast(97%);
}
.menu-item .menu-icon {
  flex: 65px;
  max-width: 65px;
  padding: 15px;
  box-shadow: 0px 0px 8px #80807f;
  border-radius: 100%;
  background: #fff;
}
.menu-item .menu-icon img {
  width: 100%;
}
.menu-item .menu-text {
  flex: 70%;
  padding-left: 10px;
}
.menu-item .menu-text .menu-title {
  font-weight: bold;
}
.menu-item .menu-text .menu-desc {
  font-size: 12px;
}

ul.sub-menu-container {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  list-style-type: none;
  padding: 0px;
}
ul.sub-menu-container li {
  margin: 0px 10px 2px 0px;
  float: left;
}
ul.sub-menu-container li a {
  margin: 0px;
  padding: 0px;
  color: var(--sec-color) !important;
  text-decoration: none;
}
ul.sub-menu-container li.item:hover,
ul.sub-menu-container li.item.active {
  margin: 0px 10px 0px 0px;
  color: var(--main-color) !important;
  border-bottom: 2px solid;
}
ul.sub-menu-container li.item a:hover,
ul.sub-menu-container li.item.active a {
  color: var(--main-color) !important;
}

/*profil*/
.image-round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #eaeaea;
  transform: translate(-50%, -50%);
}
.image-round img {
  width: 100%;
  position: relative;
  top: 0px;
}
.image-circle {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: #eaeaea;
}
.image-circle img {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profil-init {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-size: 60px;
  transform: translate(-50%, -50%);
}
.bg-profil {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--main-color);
}
.label-header {
  font-weight: bold;
  font-size: 18px;
  color: var(--sec-color);
}
.label {
}
.label-2 {
}
.label-3 {
  width: 100%;
  display: flex;
}
.label .title {
  padding: 0px;
  margin: 0px;
}
.label .desc {
  font-weight: bold;
}
.label .desc-clr {
  font-weight: bold;
  color: #dc4c35;
}
.label .status {
  border-radius: 30px;
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  font-weight: bold;
}
.label-2 .title {
  font-weight: bold;
  color: var(--sec-color);
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}
.label-2 .desc {
  font-weight: bold;
}
.label-2 .desc-clr {
  font-weight: bold;
}
.label-3 div {
  font-weight: bold;
}
.header-info {
  position: relative;
  float: right;
  text-align: center;
  width: 200px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.info-success {
  background: #4fdc35;
}
.info-warning {
  background: #e3f31b;
}
.info-danger {
  background: #dc3545;
}

.csr-info {
  min-width: 33.33%;
  float: left;
  text-align: center;
  padding: 10px;
}
.csr-info-single {
  min-width: 100%;
  float: left;
  text-align: center;
  padding: 10px;
}
.csr-info-single,
.csr-info .desc {
  margin: 0px;
  font-weight: bold;
}

/*form*/
.label input,
select,
textarea {
  margin-bottom: 5px;
}

.table-ptgs thead td,
.table-ptgs thead th {
  border-bottom-width: 2px;
  background-color: #0482e3;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  padding: 5px;
  margin: 0px;
}
.table-ptgs td,
.table-ptgs th {
  border: 1px solid #383c40;
  text-align: center;
  vertical-align: middle;
}

/*footer*/
.footer-container {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 25px;
  background: var(--main-color);
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px #808080;
}

/*Navigation*/
.nav {
  font-weight: bold;
}
.nav-link {
  color: var(--main-color) !important;
}
.nav .separator {
  border: 0px;
  width: 3px;
  height: 40px;
  background-color: var(--main-color) !important;
}
.nav-link.active {
  color: #fff !important;
  background-color: var(--sec-color) !important;
}

/*Profile*/
.container-pp {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: var(--sec-colortr);
  border-radius: 8px;
}

.rounded-avatar {
  width: 120px;
  height: 120px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: #d2d2d2;
}
.rounded-avatar,
.rounded-pp {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background-color: #4aa9b2;
  left: 50%;
  transform: translate(-50%, 0);
}
.rounded-avatar img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rounded-pp img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-tag {
  font-size: x-large;
  font-weight: bold;
}

/*MEDIA OBJECT*/
.list-unstyled .media {
  background-color: #f5f5f5;
  padding: 10px;
}

.alerts {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/*RADIO IMAGE*/
.radio-group {
  display: block;
}

.radio-group input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-group input:active + label .radio {
  opacity: 0.9;
}

.radio-group input:checked + label .radio {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.radio {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.radio:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.card-menu {
  background-color: #ffcd5c;
}
.active-card,
.card-menu:hover {
  background-color: #fcaf01 !important;
  color: #fff !important;
}

.no-border {
  border: none !important;
}

.tabel-account td {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  text-align: center;
}
.tabel-account tr {
  background-color: #f8f8f8 !important;
}

.menu-top {
  flex: 65px;
  max-width: 65px;
  padding: 15px;
  box-shadow: 0px 0px 8px #80807f;
  border-radius: 100%;
  background: #fff;
}

#flex-wrapper {
  overflow: hidden;
}
#flex-wrapper #flex-container {
  display: -webkit-box;
  display: flex;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
#flex-wrapper #flex-container #flex-inside {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
}
#flex-wrapper #flex-container #flex-inside .flex-item {
  background-color: #048894;
  color: #fff;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 21%;
  text-align: center;
  border-radius: 6px;
  margin: 0px;
  margin-right: 10px;
}
#flex-wrapper #flex-container #flex-inside .flex-item:last-of-type {
  margin-right: 0px;
}

.flex-item img {
  width: 45px;
  margin-top: 10px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(69deg) brightness(112%)
    contrast(101%);
}
.bg-gray {
  background-color: #989898 !important;
}
.h-80 {
  height: 80px;
}
.card-comment {
  border: none;
  display: none;
}
.card-comment:nth-child(-n + 4) {
  display: block;
}
.info-class {
  text-align: center;
  width: 100%;
  padding: 5px;
  color: #fff;
  border-radius: 7px;
  margin: 0 auto;
}
.card-interaksi {
  background-color: #048894;
  color: #fff;
}
.card-interaksi img {
  filter: invert(30%) sepia(98%) saturate(920%) hue-rotate(151deg)
    brightness(104%) contrast(97%);
}
