:root{
	--main-color: #ffc30d;
}

.form-group {
	
}

.form-group2 {
	display: flex;
	flex-flow: column-reverse;
}

.form-group2 .form-info {font-size: 12px;}

.form-group2 .form-info.primary {
	
	color: #0577f8;
}

.form-group2 label {
	color: #6d737d;
	font-size: 14px;
	margin : 0px;
	margin-bottom : 10px;
	margin-top : -10px;
	user-select: none;
	z-index: -1;
}

.form-group2 label, .form-group2 input {
	transition: all 0.2s;
	touch-action: manipulation;
}


.form-group2 input {
	font-size: 1.0em;
	border: 0;
	border-bottom: 1px solid #ccc;
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
	cursor: text;
	background: #fff0;
	color: #2e3235;
}

.form-group2 input:focus {
	outline: 0;
	border-bottom: 1px solid #666;
}

.form-group2 input:placeholder-shown + label {
	cursor: text;
	max-width: 66.6%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(0, 2.125rem) scale(1.5);
}
::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}

.form-group2 input:focus::-webkit-input-placeholder {
	opacity: 1;
}
.form-group2 input:not(:placeholder-shown) + label
{
	font-weight: bold;
	color: var(--main-color);
	margin : 0px;
	transform: translate(0, 0) scale(1);
	cursor: pointer;
}
.form-group2 input:focus + label{
	font-weight: bold;
	color: var(--main-color);
	margin : 0px;
	transform: translate(0, 0) scale(1);
	cursor: pointer;
}