* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* nav */
.navbar .navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-nav button {
  color: white;
  border-radius: 20px;
}

/* jumbotron */
.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
  text-align: center;
}

.jumbotron .lead {
  color: white;
  margin-top: 150px;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.jumbotron .lead strong {
  font-weight: 500;
}

.jumbotron .btn {
  color: white;
  width: 150px;
}

/* panel */
.panel {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.panel p {
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

hr {
  border: 2px solid rgba(131, 129, 129, 0.7);
  width: 90%;
}

/* Cara Kerja */
#carakerja img {
  margin-right: 20px;
  margin-bottom: 20px;
}

#carakerja .info {
  text-align: left;
}

#carakerja h6 {
  font-size: 36px;
  font-weight: 400;
}

#carakerja span {
  color: #f9b047;
}

/* videos */
#videos {
  background-image: url("../img/Banner\ 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  text-align: center;
  margin-top: 150px;
}

#videos .embed {
  margin-top: 30px;
}

/* harga */
#harga .price {
  border-radius: 20px;
  text-align: center;
  margin: 5px auto 0 auto;
}

#harga .card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.75);
}

.price .card-body {
  font-weight: bold;
  color: #a6a0c4;
}

.price h5 {
  font-size: 28px;
}

.price.active .card-title {
  font-size: 24px;
  color: #fbaf41;
}

.price.active h5 {
  color: #fbaf41;
}

.price.active .card-body .card-desc {
  color: #b5b5b5;
}

.price.active .card-body .card-desc-kelas {
  color: #fbaf41;
}

.price a {
  color: white;
  margin-top: 20px;
  border-radius: 50%;
}

/* Mentor */
#mentor img {
  height: 200px;
  width: 200px;
  margin-left: 120px;
  margin-bottom: 20px;
  border-radius: 50%;
}

/* Testimoni */
#testimoni img {
  height: 200px;
  width: 200px;
  margin-left: 120px;
  margin-bottom: 20px;
  border-radius: 50%;
}

#testimoni .star {
  color: #fbaf41;
}

/* Tentang Kami */
#tentang-kami .btn-group {
  margin-left: 100px;
  margin-bottom: 50px;
}

#tentang-kami .btn-group .active {
  background-color: #fbaf41;
  color: white;
}

#tentang-kami .img .card-img {
  border-radius: 5%;
  margin-bottom: 20px;
}

#tentang-kami .scroll {
  max-height: 400px;
  overflow-y: auto;
}

/* hubungi kami */
#hubungi-kami {
  margin-bottom: 50px;
}

#hubungi-kami .contact {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px -15px rgba(0, 0, 0, 0.75);
}

.contact p.card-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.contact input {
  background-color: #f9f8f8;
}
.contact textarea {
  background-color: #f9f8f8;
}

footer {
  background-color: gray;
  color: white;
}

footer ul {
  margin-top: 50px;
  font-size: 12px;
}

footer ul.kolom-1 li a {
  text-decoration: none;
  color: white;
}

footer ul.kolom-1 li a:hover {
  color: #fbaf41;
}

footer ul.kolom-2 {
  margin-top: 50px;
}

footer ul.kolom-2 li a {
  text-decoration: none;
  color: white;
}

footer ul.kolom-2 li a:hover {
  color: #fbaf41;
}

footer .kolom-3 img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

footer .kolom-3 .icons {
  margin-top: 15px;
}

footer .kolom-3 .icons a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}

footer .kolom-3 .icons a:hover {
  color: #fbaf41;
}

#footer-bar {
  background-color: #fbaf41;
  font-size: 7px;
}

#footer-bar a {
  color: #757575;
  text-decoration: none;
}

#footer-bar a:hover {
  color: #000;
}

#plug-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 15px;
  width: 100px;
  height: 100px;
}
.modal{
  background-color: #62626278;
}
/* desktop verstion */
@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-right: 20px;
    font-weight: 200;
    color: white !important;
  }

  .jumbotron {
    margin-top: -130px;
  }

  #carakerja img {
    margin-bottom: 20px;
  }

  #carakerja .info {
    margin-top: 10%;
    text-align: left;
  }

  #carakerja h6 {
    font-size: 36px;
    font-weight: 400;
  }

  #carakerja span {
    color: #f9b047;
  }

  #videos {
    height: 550px;
  }

  #videos .embed {
    margin-top: 50px;
  }

  /* Mentor */
  #mentor img {
    margin-left: 70px;
  }

  /* Testimoni */
  #testimoni img {
    margin-left: 70px;
  }

  /* Tentang Kami */
  #tentang-kami .btn-group {
    border: 1px solid rgb(163, 161, 161);
    margin-left: 400px;
    margin-bottom: 50px;
  }

  /* Footer */
  footer .vertical {
    margin-top: 30px;
    border-left: 1px solid rgb(96, 97, 97);
    height: 200px;
  }

  #footer-bar {
    font-size: 12px;
  }
}
