* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.coverbg {
  background-image: url("../img/Path\ 14.png");
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  top: 5%;
  left: 30%;
  right: 0;
  bottom: 0;
}

#mentor .arrow-head a {
  text-decoration: none;
  color: black;
}

#mentor .headline h4 {
  font-weight: bold;
}

.imghome {
  background-image: url("../img/Group\ 8.png");
  background-repeat: no-repeat;
  position: fixed;
  width: 200px;
  background-size: 100%;
  top: 30%;
  left: 60%;
  right: 0;
  bottom: 0;
}

#mentor .col-lg-6 .row.input .col.input-form form .form-group {
  color: rgb(49, 49, 49);
  font-weight: bold;
}

#mentor .col-lg-6 .row.info .col-lg-12.info form .form-group {
  font-weight: bold;
}

/* desktop verstion */
@media (min-width: 992px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
  }

  .coverbg {
    background-image: url("../img/Path\ 14.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
  }

  .imghome {
    background-image: url("../img/Group\ 8.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 300px;
    background-size: 100%;
    top: 15%;
    left: 60%;
    right: 0;
    bottom: 0;
  }
}
