* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../img/andre-francois-mckenzie-iGYiBhdNTpE-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  background-color: rgb(122, 122, 122);
  margin-top: 5%;
  margin-left: 10%;
  width: 400px;
  border-radius: 5%;
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.card-body .btn {
  margin-left: 100px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.card-body form label {
  font-weight: bold;
  color: rgb(235, 230, 230);
}

.card-body form input {
  border-radius: 20px;
}

.card-body a {
  color: rgb(235, 230, 230);
  font-weight: bold;
}

@media (min-width: 992px) {
  .card {
    background-color: rgb(122, 122, 122);
    margin-top: 5%;
    margin-left: 30%;
    width: 500px;
    border-radius: 5%;
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  }

  .card-body .btn {
    margin-left: 120px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  }

  .card-body form label {
    font-weight: bold;
    color: rgb(235, 230, 230);
  }

  .card-body form input {
    border-radius: 20px;
  }

  .card-body a {
    color: rgb(235, 230, 230);
    font-weight: bold;
  }
}
